<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="backend/server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- API Routes - Route to backend -->
        <rule name="API">
          <match url="^api/(.*)"/>
          <action type="Rewrite" url="backend/server.js"/>
        </rule>
        
        <!-- Static Files -->
        <rule name="StaticContent">
          <action type="Rewrite" url="dist/{REQUEST_URI}"/>
        </rule>
        
        <!-- SPA Fallback -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="dist/index.html"/>
        </rule>
      </rules>
    </rewrite>
    
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
    
    <httpErrors existingResponse="PassThrough"/>
    
    <iisnode 
      nodeProcessCommandLine="node"
      enableXFF="true"
      loggingEnabled="true"
      logDirectory="iisnode"
      devErrorsEnabled="true"
    />
  </system.webServer>
</configuration>